{{<layouts/_app}}

{{$page}}

  <div class="grid-row">
  
  <div class="column-two-thirds">
  
      <div class="reference-number-wrap highlighted">
          <h1 class="heading-medium"><i class="icon-ok"></i> <span>Your form has been sent</span></h1>
          <div class="pre-title">We've sent a confirmation email to 'joansmith@nhs.net'</div>
      </div>
      <h2 class="heading-medium">What happens next</h2>
      <p>We will pay your fee directly into your bank or building society account. </p>
      <p><a href="#">Contact us</a> if you need to provide these details.</p>
    
      <p><a href="form-start.html">Send another report</a></p>
      
  </div>

    
  </div>


{{/page}}

{{/layouts/_app}}
