<div id="id-section-{{$section}}{{$field}}{{/field}}{{/section}}" class="form-group {{#errorClass}}{{$field}}{{/field}}{{/errorClass}}" {{$attributes}}{{/attributes}}>
  <label class="form-label-bold" for="id-{{$field}}{{/field}}">
    {{$label}}{{#i18n}}{{groupStem}}.assertion.label.{{$field}}{{/field}}{{/i18n}}{{/label}}
  </label>
  <div id="id-section-help-{{$field}}{{/field}}" class="form-hint">
    {{$help}}{{#i18n}}{{groupStem}}.assertion.help.{{$field}}{{/field}}{{/i18n}}{{/help}}
  </div>
  <div id="id-section-error-{{$field}}{{/field}}" data-validation-error class="form-error validation-message">
    {{#i18n-error}}{{$field}}{{/field}}{{/i18n-error}}
  </div>
  <input class="form-control {{$inputClasses}}{{/inputClasses}}" type="password" id="id-{{$field}}{{/field}}" name="{{$field}}{{/field}}" value=""
      {{#ariaInvalid}}{{$field}}{{/field}}{{/ariaInvalid}} aria-describedby="id-section-help-{{$field}}{{/field}} id-section-error-{{$field}}{{/field}}"
      {{$inputAttributes}}{{/inputAttributes}}>
</div>
