<div id="id-{{field}}-form-group" class="form-group {{classes}}" {{attributes}}>   
  <legend class="form-label-bold">
    {{label}}
  </legend>
  <div id="id-{{field}}-error-message" class="form-error validation-message">
    {{error}}
  </div>
  <div class="form-hint">
    {{help}}
  </div>
  <fieldset>
    {{#options}}
      <div class="radio-group">
        <label class="block-label" for="id-{{field}}-{{index}}" data-target="{{reveal-target}}">
          <input id="id-{{field}}-{{index}}" type="radio" name="{{field}}" value="{{label}}" data-parsley-multiple="{{field}}" 
          {{#parsley-validation}}data-parsley-{{validator}}={{value}} data-parsley-{{validator}}-message="{{error-message}}"{{/parsley-validation}} 
          data-parsley-class-handler="#id-{{field}}-form-group" 
          data-parsley-errors-container="#id-{{field}}-error-message" />
          {{label}}
        </label>
      </div>
    {{/options}}
  </fieldset>
</div>
